.presentacion {
  padding-block: 3rem;

  .img-avion {
    width: 100%;
  }
}

.section-nosotros {
  background-color: rgba(17, 131, 224, 0.139);
  padding-top: 3rem;

  .profile {
    width: 350px;
    border-radius: 20px;
    margin-top: 5rem;
  }
  .iconos-paises img {
    padding-inline: 1rem;
    height: 30px;
  }
  span{
   color:rgb(59, 190, 103);
  }
}

.section-porqueNosotros {
  background-image: url('/images/fondos/uuunion.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--letra-color);

  img {
    width: 80px;
  }

  .iconoVerde {
    border: 4px solid rgb(14, 175, 108);
    background-color:  rgb(14, 175, 108);
    border-radius: 60%;
    padding: 1rem;
    width: 100px;
  }
  .iconoRojo {
    border: 4px solid rgb(217, 42, 56);
    background-color:  rgb(217, 42, 56);
    border-radius: 60%;
    padding: 1rem;
    width: 100px;
  }
  .iconoAmarillo {
    border: 4px solid rgb(196, 202, 23);
    background-color:  rgb(196, 202, 23);
    border-radius: 60%;
    padding: 1rem;
    width: 100px;
  }
  .iconoRosa {
    border: 4px solid rgb(202, 23, 163);
    background-color: rgb(202, 23, 163);
    border-radius: 60%;
    padding: 1rem;
    width: 100px;
  }
  .iconoNaranja {
    border: 4px solid rgb(231, 108, 41);
    background-color:  rgb(231, 108, 41);
    border-radius: 60%;
    padding: 1rem;
    width: 100px;
  }
  h3 {
    padding-top: 1rem;
  }
}
