
.article-destino {

  .div-imagen-destino {
    position: relative;

    .img-card-destino {
      aspect-ratio: 1/1;
      border-radius: 20px;
      width: 100%;
      object-fit: cover;
    }

    .div-info-destino{
      position: absolute;
      inset-block-end: 0;
      background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(0,0,0,.7),rgba(0, 0, 0, 0.9));
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 100%;
      height: 50%;
      padding: 1rem;

      h3 {
        color: white;
        text-shadow: 0 0 2px  rgba(0, 0, 0, 0.771);
        font-size: 1.5rem;
        font-weight: 800;
      
        span{
          font-size: 1rem;
          font-weight: 400;
          text-transform: uppercase;

        }
      }

      .descripcion-destino{
        color: white;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .disponible-destino {
    color: var(--correct-color);
    text-shadow:  0 0 2px  rgba(0, 0, 0, 0.118)
  }
  
}